# Ignorar arquivos e diretórios do Android Studio
/.idea/
/build/
/captures/
/gradle/
/local.properties

# Ignorar caches
caches/

# Ignorar arquivos temporários do sistema
*.iml
.DS_Store
Thumbs.db
*.log
