<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cakestock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CakeStock"
        tools:targetApi="31">

        <activity android:name=".receita.ListaReceitas" android:exported="false" />
        <activity android:name=".usuario.FormLogin" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" android:exported="false" />
        <activity android:name=".usuario.PerfilUsuario" android:exported="false" />
        <activity android:name=".usuario.FormCadastro" android:exported="false" />
        <activity android:name=".ingrediente.CadastroIngrediente" android:exported="false" />
        <activity android:name=".estoque.EstoqueIngrediente" android:exported="false" />
        <activity android:name=".receita.t1_NomeReceita" android:exported="false" />
        <activity android:name=".receita.t2_AdicionarIngredientes" android:exported="false" />
        <activity android:name=".receita.t3_SelecionarIngrediente" android:exported="false" />
        <activity android:name=".receita.t4_CadastrarReceita" android:exported="false" />
        <activity android:name=".receita.DetalhesReceita" android:exported="false" />
        <activity android:name=".produto.HistoricoProducoes" android:exported="false" />

        <activity android:name=".cliente.CadastroCliente" android:exported="false" />
        <activity android:name=".cliente.ListaClientes" android:exported="false" />
        <activity android:name=".produto.CadastroProduto" android:exported="false" />
        <activity android:name=".estoque.EstoqueProdutos" android:exported="false" />
        <activity android:name=".financeiro.Transacoes" android:exported="false" />


        <activity android:name=".financeiro.RegistroVenda"/>
        <activity android:name=".financeiro.RegistroDespesa"/>

        <activity android:name=".pedido.CadastroPedido" android:exported="false" />
        <activity android:name=".pedido.ListaPedidos" android:exported="false"/>



    </application>
</manifest>
