<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cakestock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CakeStock"
        tools:targetApi="31">

        <activity android:name=".ListaReceitas" android:exported="false" />
        <activity android:name=".FormLogin" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".PerfilUsuario" android:exported="false" />
        <activity android:name=".FormCadastro" android:exported="false" />
        <activity android:name=".CadastroIngrediente" android:exported="false" />
        <activity android:name=".EstoqueIngrediente" android:exported="false" />
        <activity android:name=".t1_NomeReceita" android:exported="false" />
        <activity android:name=".t2_AdicionarIngredientes" android:exported="false" />
        <activity android:name=".t3_SelecionarIngrediente" android:exported="false" />
        <activity android:name=".t4_CadastrarReceita" android:exported="false" />
        <activity android:name=".DetalhesReceita" android:exported="false" />
        <activity android:name=".HistoricoProducoesActivity" android:exported="false" />

        <activity android:name=".CadastroCliente" android:exported="false" />
        <activity android:name=".ListaClientes" android:exported="false" />
        <activity android:name=".CadastroProduto" android:exported="false" />
        <activity android:name=".EstoqueProdutos" android:exported="false" />
        <activity android:name=".Transacoes" android:exported="false" />


        <activity android:name=".RegistroVenda"/>
        <activity android:name=".RegistroDespesa"/>

    </application>
</manifest>
