<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cakestock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CakeStock"
        tools:targetApi="31">

        <activity android:name=".view.ListaReceitas" android:exported="false" />
        <activity android:name=".controller.activity.FormLogin" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" android:exported="false" />
        <activity android:name=".view.PerfilUsuario" android:exported="false" />
        <activity android:name=".controller.activity.FormCadastro" android:exported="false" />
        <activity android:name=".controller.CadastroIngrediente" android:exported="false" />
        <activity android:name=".controller.EstoqueIngrediente" android:exported="false" />
        <activity android:name=".controller.activity.t1_NomeReceita" android:exported="false" />
        <activity android:name=".controller.activity.t2_AdicionarIngredientes" android:exported="false" />
        <activity android:name=".controller.activity.t3_SelecionarIngrediente" android:exported="false" />
        <activity android:name=".controller.activity.t4_CadastrarReceita" android:exported="false" />
        <activity android:name=".view.DetalhesReceita" android:exported="false" />
        <activity android:name=".view.HistoricoProducoes" android:exported="false" />

        <activity android:name=".controller.CadastroCliente" android:exported="false" />
        <activity android:name=".view.ListaClientes" android:exported="false" />
        <activity android:name=".controller.CadastroProduto" android:exported="false" />
        <activity android:name=".controller.EstoqueProdutos" android:exported="false" />
        <activity android:name=".view.Transacoes" android:exported="false" />


        <activity android:name=".view.RegistroVenda"/>
        <activity android:name=".view.RegistroDespesa"/>

    </application>
</manifest>
